.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 637px) {
  .cards {
    padding: 0;
  }
}
