.header {
  position: relative;
  flex-direction: column;
  padding-top: 45px;
  max-width: 880px;
  display: flex;
  justify-content: left;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84 84 84 / 0.7);
}

.header__image {
  object-fit: cover;
  width: 173px;
  height: 33px;
  flex-shrink: 0;
  padding-bottom: 41px;
}

@media screen and (max-width: 936px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 637px) {
  .header {
    padding: 28px 0 0;
    max-width: 282px;
  }
}
