.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /*display: flex;*/
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  width: 430px;
  height: 330;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0, 0, 25px, 0 rgba(0, 0, 0, 0.5);
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__name {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px;
  color: #000;
  font-size: 14px;
  font-family: "Inter", arial, sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__name::placeholder {
  color: #000;
  font-size: 14px;
}

.modal__about-me {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px;
  color: #000;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__about-me::placeholder {
  color: #000;
  font-size: 14px;
}

.modal__button {
  margin-top: 48px;
  padding: 0;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__heading {
  color: #000;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 54px;
}

@media screen and (max-width: 637px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__close {
    width: 36px;
    height: 36px;
    top: -53px;
    right: 0;
  }

  .modal__heading {
    font-size: 18px;
    padding-bottom: 75px;
  }

  .modal__button {
    font-size: 14px;
    height: 46px;
    margin-top: 45px;
  }
}
